@font-face {
    src: url('fonts/Liberation_Mono_Bold.ttf');
}

@font-face {
    src: url('fonts/Liberation_Mono_Bold_Italic.ttf');
}

@font-face {
    src: url('fonts/Liberation_Mono_Italic.ttf');
}

@font-face {
    src: url('fonts/Liberation_Mono.ttf');
}

.root {
    -fx-base: #000000;
    -fx-main: #146478;
    -fx-none: transparent;
    -fx-font: 14 'Liberation Mono Bold';

    -fx-accent: #0D404C;
    -fx-focus-color: derive(#146478, 40%);
    -fx-faint-focus-color: #14647822;

    -fx-text-base-color: #146478;
    -fx-dark-text-color: #000000;
    -fx-mid-text-color: #0D404C;
    -fx-light-text-color: #146478;

    -fx-default-button: #000000;
}

.alert > .content.label,
.progress-dialog > .label {
    -fx-padding: 0.833em 0.833em 0 0.833em;
}

.list-view {
    -fx-background-color: -fx-none;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

.alert,
.tooltip,
.context-menu,
.progress-dialog {
    -fx-background-color: #000000F0;
    -fx-background-radius: 0;
}

.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane > .viewport > * > .content,
.progress-dialog .header-panel {
    -fx-background-color: -fx-none;
}

.arrow-button,
.arrow-button > .arrow {
    -fx-background-color: -fx-none;
    -fx-padding: 0;
    -fx-shape: null;
}

.context-menu > * > .menu-item > * > .ikonli-font-icon {
    -fx-icon-color: -fx-main;
    -fx-icon-size: 16;
}

.context-menu > * > .menu-item:focused > * > .ikonli-font-icon {
    -fx-icon-color: -fx-base;
}

.context-menu > * > .menu-item .label {
    -fx-text-fill: -fx-main;
}

.context-menu > * > .menu-item:focused .label {
    -fx-text-fill: -fx-base;
}

.context-menu > * > .menu > .right-container > .arrow {
    -fx-background-color: -fx-main;
}
.context-menu > * > .menu:focused > .right-container > .arrow {
    -fx-background-color: -fx-base;
}

/*******************************************************************************
 *                                                                             *
 * modz-root                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-root-corner {
    -fx-background-color: -fx-none;
    -fx-max-height: 0.333333em;
    -fx-min-height: 0.333333em;
    -fx-max-width: 0.333333em;
    -fx-min-width: 0.333333em;
    -fx-padding: 0;
}

.modz-root-border > .line {
    -fx-border-color: -fx-none;
    -fx-border-width: 0.166667em;
    -fx-padding: 0;
}

.modz-root-border:pressed:center-left {
    -fx-border-color: -fx-none -fx-none -fx-none -fx-main;
}

.modz-root-border:pressed:center-right {
    -fx-border-color: -fx-none -fx-main -fx-none -fx-none;
}

.modz-root-border:pressed:top-center {
    -fx-border-color: -fx-main -fx-none -fx-none -fx-none;
}

.modz-root-border:pressed:bottom-center {
    -fx-border-color: -fx-none -fx-none -fx-main -fx-none;
}

/*******************************************************************************
 *                                                                             *
 * modz-help                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-help {
    -fx-background-color: -fx-base;
}

/*******************************************************************************
 *                                                                             *
 * modz-head                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-head {
    -fx-padding: 0 1em 0 1em;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, 75%) 0%, -fx-outer-border 90%),
                          linear-gradient(to bottom, derive(-fx-base, 46.9%) 2%, derive(-fx-base, 5%) 95%);
}

.modz-head .ikonli-font-icon {
    -fx-icon-size: 18;
}

.modz-head > * > .separator:vertical {
    -fx-padding: 0 0 0 0.25em;
}

.modz-head > .menu-button > .label > .ikonli-font-icon {
    -fx-icon-color: -fx-main;
}

.modz-head > * > .button,
.modz-head > .menu-button {
    -fx-background-color: -fx-none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -fx-none;
}

.modz-head > * > .button,
.modz-head > .menu-button > .label {
    -fx-text-fill: -fx-main;
    -fx-padding: 0.25em;
}

.modz-head > * > .button:hover,
.modz-head > * > .button:showing {
    -fx-border-color: -fx-none -fx-none -fx-main -fx-none;
}

.modz-head > .menu-button:hover,
.modz-head > .menu-button:showing {
    -fx-background-color: -fx-main;
}

.modz-head > .menu-button:hover > .label,
.modz-head > .menu-button:showing > .label {
    -fx-text-fill: -fx-base;
}

.modz-head > .menu-button:hover > .label > .ikonli-font-icon,
.modz-head > .menu-button:showing > .label > .ikonli-font-icon {
    -fx-icon-color: -fx-base;
}

.modz-head > .menu-button > * > .context-menu {
    -fx-background-color: -fx-main;
}

.modz-head > .menu-button > * > .context-menu > * > .menu-item > .label {
    -fx-text-fill: -fx-base;
}

.modz-head > .menu-button > * > .context-menu > * > .menu-item:focused {
    -fx-background-color: -fx-base;
}

.modz-head > .menu-button > * > .context-menu > * > .menu-item:focused > .label {
    -fx-text-fill: -fx-main;
}

.modz-head > .menu-button > * > .context-menu > * > .menu-item:focused > * > .ikonli-font-icon {
    -fx-icon-color: -fx-main;
}

/*******************************************************************************
 *                                                                             *
 * modz-body                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-body > .split-pane:horizontal {
    -fx-background-color: #000000B8;
}

.modz-body > .split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -fx-none;
    -fx-background-insets: 0;
    -fx-border-color: -fx-none -fx-none -fx-none -fx-accent;
    -fx-border-width: 0.083333em;
    -fx-padding: 0;
}

.modz-body > .split-pane > .split-pane-divider:pressed {
   -fx-border-color: -fx-none -fx-none -fx-none -fx-main;
}

/*******************************************************************************
 *                                                                             *
 * modz-list                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-list > * {
    -fx-background-color: -fx-accent;
}

/*******************************************************************************
 *                                                                             *
 * modz-list-btns                                                              *
 *                                                                             *
 ******************************************************************************/

.modz-list-pane {
    -fx-background-color: #000000D0;
    -fx-background-insets: 0 -0.083333em 0 0;
}

.modz-list-btns {
    -fx-padding: 0.25em;
    -fx-spacing: 0.25em;
}

.modz-list-btns > .button,
.modz-list-btns > .menu-button,
.modz-list-btns > .color-picker {
    -fx-content-display: graphic-only;
    -fx-max-height: 32;
    -fx-min-height: 32;
    -fx-max-width: 32;
    -fx-min-width: 32;
}

.modz-list-btns > .color-picker > .color-picker-label,
.modz-list-btns > .menu-button > .label {
    -fx-padding: 0.416667em;
}

.modz-list-btns > .button > .ikonli-font-icon,
.modz-list-btns > .menu-button > .label > .ikonli-font-icon,
.modz-list-btns > .color-picker > .color-picker-label > .ikonli-font-icon {
    -fx-icon-size: 21;
}

.modz-list-btns > .button > .ikonli-font-icon,
.modz-list-btns > .menu-button > .label > .ikonli-font-icon {
    -fx-icon-color: -fx-accent;
}

.modz-list-btns > .menu-button > * > .context-menu {
    -fx-background-color: #020C0E;
    -fx-background-radius: 0 0 2 1;
    -fx-min-width: 32;
}

.modz-list-btns > .menu-button > * > .context-menu > * > .menu-item > .modz-icon {
    -fx-icon-color: -fx-accent;
    -fx-icon-size: 18;
}

.modz-list-btns > .menu-button > * > .context-menu > * > .menu-item:focused > .modz-icon {
    -fx-icon-color: -fx-base;
}

.modz-list-btns > .modz-search > * > .context-menu {
    -fx-background-color: -fx-none !important;
    -fx-padding: 0;
}

.modz-list-btns > .modz-search > * > .context-menu > * > .menu-item {
    -fx-background-color: -fx-none;
    -fx-padding: 0.166667em 0.666667em 0.166667em 0;
}

.modz-type-hint {
    -fx-text-fill: -fx-main;
    -fx-font: 14 'Liberation Mono Bold';
}

/*******************************************************************************
 *                                                                             *
 * modz-list-view                                                              *
 *                                                                             *
 ******************************************************************************/

.modz-list-view {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("black.png");
    -fx-background-size: contain;
    -fx-padding: 0 0 0 0.166667em;
}

/*******************************************************************************
 *                                                                             *
 * modz-cell                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-cell {
    -fx-background-color: derive(#146478D8, -10%);
    -fx-border-width: 0;
    -fx-padding: 0;
}

.modz-cell:odd {
    -fx-background-color: derive(#146478D8, -15%);
}

.modz-cell:selected {
    -fx-background-color: derive(#000000D8, 15%);
}

.modz-cell:selected:odd {
    -fx-background-color: derive(#000000D8, 10%);
}

.modz-cell:checked:invalid > .modz-cell-line > .modz-more > .title,
.modz-cell:checked:invalid > .modz-cell-line > .modz-more > .content {
    -fx-background-color: #D81200B0;
}

.modz-cell:checked:invalid:selected > .modz-cell-line > .modz-more > .title,
.modz-cell:checked:invalid:selected > .modz-cell-line > .modz-more > .content {
    -fx-background-color: #000000B0;
}

.modz-cell .modz-rate,
.modz-cell .modz-page,
.modz-cell .modz-mapz .modz-icon,
.modz-cell .modz-cell-tags {
    -fx-opacity: 0.28;
}

.modz-cell:checked .modz-rate,
.modz-cell:checked .modz-page,
.modz-cell:checked .modz-mapz .modz-icon,
.modz-cell:checked .modz-cell-tags {
    -fx-opacity: 1.0;
}

.modz-cell .modz-more > .title > .modz-more-head > *,
.modz-cell .modz-more > .content .modz-menu-desc,
.modz-cell .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: #00000038;
    -fx-text-fill: #00000038;
}

.modz-cell .modz-more > .content {
    -fx-border-color: #00000038;
}

.modz-cell:selected .modz-more > .title > .modz-more-head > *,
.modz-cell:selected .modz-more > .content .modz-menu-desc,
.modz-cell:selected .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: #14647838;
    -fx-text-fill: #14647838;
}

.modz-cell:selected .modz-more > .content {
    -fx-border-color: #14647838;
}

.modz-cell:checked .modz-more > .title > .modz-more-head > *,
.modz-cell:checked .modz-more > .content .modz-menu-desc,
.modz-cell:checked .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: -fx-base;
    -fx-text-fill: -fx-base;
}

.modz-cell:checked .modz-more > .content {
    -fx-border-color: -fx-base;
}

.modz-cell:checked:selected .modz-more > .title > .modz-more-head > *,
.modz-cell:checked:selected .modz-more > .content .modz-menu-desc,
.modz-cell:checked:selected .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: -fx-main;
    -fx-text-fill: -fx-main;
}

.modz-cell:checked:selected .modz-more > .content {
    -fx-border-color: -fx-main;
}

.modz-cell:checked:invalid .modz-more > .title > .modz-more-head > *,
.modz-cell:checked:invalid .modz-more > .content .modz-menu-desc,
.modz-cell:checked:invalid .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: -fx-base;
    -fx-text-fill: -fx-base;
}

.modz-cell:checked:invalid .modz-more > .content {
    -fx-border-color: -fx-base;
}

.modz-cell:checked:invalid:selected .modz-more > .title > .modz-more-head > *,
.modz-cell:checked:invalid:selected .modz-more > .content .modz-menu-desc,
.modz-cell:checked:invalid:selected .modz-more > .content .modz-cell-head > * {
    -fx-icon-color: #D82828;
    -fx-text-fill: #D82828;
}

.modz-cell:checked:invalid:selected .modz-more > .content {
    -fx-border-color: #D82828;
}

/*******************************************************************************
 *                                                                             *
 * modz-more                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-more {
    -fx-content-display: graphic-only;
    -fx-background-color: -fx-none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.modz-more > .title {
    -fx-background-radius: 0;
    -fx-background-color: -fx-none;
    -fx-border-width: 0;
    -fx-padding: 2 0 2 0;
}

.modz-more > .content {
    -fx-background-color: -fx-none;
    -fx-border-insets: 0 0 0.416667em 0.833333em;
    -fx-border-width: 0 0 0 0.083333em;
}

.modz-more-head,
.modz-cell-head {
    -fx-alignment: center-left;
    -fx-spacing: 4;
    -fx-padding: 0 1 0 1;
}

.modz-more-head > .label,
.modz-cell-head > .label {
    -fx-font: 14 'Liberation Mono Bold';
}

.modz-more-head > .ikonli-font-icon,
.modz-cell-head > .ikonli-font-icon {
    -fx-icon-color: -fx-base;
    -fx-icon-size: 23;
}

.modz-cell-tags {
    -fx-padding: 0.25em 0.333333em 0 0;
}

.modz-more-body {
    -fx-spacing: 10;
}

.modz-cell-over {
    -fx-alignment: center-right !important;
}

.modz-cell-over > .label {
    -fx-font: 13 'Liberation Mono Bold Italic' !important;
}

/*******************************************************************************
 *                                                                             *
 * modz-page                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-page {
    -fx-background-color: #FFFFFF0A;
}

.modz-page > .page {
    -fx-translate-y: 23;
}

.modz-page > .pagination-control > .control-box {
    -fx-padding: 1em 0 1em 0;
}

.modz-page > .pagination-control > .control-box > .number-button,
.modz-page > .pagination-control > .control-box > .left-arrow-button,
.modz-page > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-color: -fx-none, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.modz-page > .pagination-control > .control-box > .number-button:selected,
.modz-page > .pagination-control > .control-box > .left-arrow-button:selected,
.modz-page > .pagination-control > .control-box > .right-arrow-button:selected,
.modz-page:focused > .pagination-control > .control-box > .number-button:selected {
    -fx-base: -fx-accent;
}

.modz-page > .pagination-control > .control-box > .left-arrow-button > .left-arrow,
.modz-page > .pagination-control > .control-box > .right-arrow-button > .right-arrow {
    -fx-background-color: -fx-accent, -fx-main;
}

/*******************************************************************************
 *                                                                             *
 * modz-rate                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-rate {
    -fx-padding: 0 0.5em 0 0;
}

.modz-rate .modz-icon {
    -fx-icon-color: gold;
    -fx-icon-size: 19;
}

.modz-rate:unused .modz-icon {
    -fx-icon-color: gray;
}

/*******************************************************************************
 *                                                                             *
 * modz-menu                                                                   *
 *                                                                             *
 ******************************************************************************/

.modz-menu-desc {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: -fx-none;
    -fx-padding: 0;
    -fx-font: 14 'Liberation Mono';
}

.modz-menu-list {
    -fx-background-color: -fx-none;
    -fx-padding: 0.25em;
}

.modz-link,
.modz-mapz {
    -fx-background-color: -fx-none;
}

.modz-link:selected,
.modz-mapz:selected {
    -fx-background-color: #FFFFFF0A;
}